* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #BCDCFC
}

p{
  color: #524C56;
  font-size: 168%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3{
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #524C56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
